<!DOCTYPE html>
    <%= render :partial => 'spree/shared/header' %>
    <div class="container-fluid">
      <div id="wrapper" class="row" data-hook>
        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>
        <%= yield :templates %>
      </div>
    </div>
    <%= render :partial => 'spree/shared/footer' %>

